<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- AuthorDao的映射文件，AuthorDao的实现-->
<mapper namespace="com.newer.dao.AuthorDao">
    <insert id="addAuthor" parameterType="Author">
        INSERT INTO author(name,sex,birthday,address,phone) VALUES
        (#{name},#{sex},#{birthday,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR})
    </insert>

    <select id="findById" resultType="Author">
        select * from author where auid=#{id}
    </select>

    <select id="findAll" resultType="Author">
        select * from author
    </select>

    <delete id="deleteAuthor" parameterType="Author">
        DELETE from author where auid=#{auid}
    </delete>

    <update id="updateAuthor" parameterType="Author">
        update author set birthday=#{birthday},phone=#{phone},address=#{address} where auid=#{auid}
    </update>

    <resultMap id="authorList1" type="Author">
    <id property="auid" column="AUID"/>
    <result property="name" column="NAME"/>
    <result property="sex" column="SEX"/>
</resultMap>

    <resultMap id="authorList2" type="Author">
        <id property="auid" column="AUID"/>
        <result property="name" column="NAME"/>
        <result property="sex" column="SEX"/>
        <collection property="articles" ofType="Article">
            <id property="arid" column="ARID"/>
            <result property="title" column="TITLE"/>
            <result property="content" column="CONTENT"/>
            <collection property="commts" ofType="article_commt">
                <id property="id" column="ID"/>
                <result property="commt" column="COMMT"/>
            </collection>

        </collection>
        <collection property="commts" ofType="article_commt">
        <id property="id" column="ID"/>
        <result property="commt" column="COMMT"/>
    </collection>
    </resultMap>

    <select id="findAll2" resultMap="authorList2">
select auid,name,sex,arid,title,content,id,commt from author a LEFT JOIN article a1 ON a.auid=a1.au_id LEFT JOIN article_commt a2 ON a1.arid=a2.ar_id;

    </select>

</mapper>